{% extends "base.html" %}

{% block content %}
    <div class="videos">
             {% for video in videos %}
            <div class="video">
                <div class="logo">
                    <a href="/pages/play_video/{{video.id}}"><img src="{{ url_for('static', path=video.preview) }}"></a>
                </div>
                <div class="desc">
                    <a href="/pages/play_video/{{video.id}}"><h3>{{ video.title }}</h3></a>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}