{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="login">
    <form name="login" action="/auth/login" method="post">
        <input type="text" name="username" id="username" placeholder="Логин">
        <input type="password" name="password" id="password" placeholder="Пароль">
        <button>ВОЙТИ</button>
        <p></p>
    </form>
</div>
<div class="login">
    <form name="register" action="/pages/register" method="get">
        <button style="width: 200px;">Регистрация</button>
    </form>
</div>

{% endblock %}
